---
---

<div class="container">
	<h1>Whatcom Outdoor Services</h1>

	<ul>
		<li>Excavation</li>
		<li>Land Clearing</li>
		<li>Site Prep</li>
	</ul>

	<h2>Contact</h2>

	<p><a href="https://www.google.com/maps?q=270%20E%20Wiser%20Lake%20Rd,%20Lynden,%20WA,%2098264">270 E Wiser Lake Rd Lynden WA 98264</a></p>
	<p><a href="tel:3603893145">(360) 389-3145</a></p>
    <p>Email</p>



	<h2>About Us</h2>

	<p>Founded in 2024, Whatcom Outdoor Services is an up-and-coming landscape and building demo contractor. 
		We are dedicated to growth and a job well done. We currently serve Whatcom County.</p>

</div>
